<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586571718014-0lgjts024i7lp59uj38pibu2kigl5rag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586571718014-0lgjts024i7lp59uj38pibu2kigl5rag</string>
	<key>API_KEY</key>
	<string>AIzaSyCrugSZKlpIwsny2VObotgW5gb6XMrk5iw</string>
	<key>GCM_SENDER_ID</key>
	<string>586571718014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cirrusconcept.altoStaffing</string>
	<key>PROJECT_ID</key>
	<string>alto-api</string>
	<key>STORAGE_BUCKET</key>
	<string>alto-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586571718014:ios:7ecdecd446a54bf0eda72f</string>
	<key>DATABASE_URL</key>
	<string>https://alto-api.firebaseio.com</string>
</dict>
</plist>